body {
  font-family: Roboto, Arial;
  margin: 0;
  padding: 80px 24px 24px 96px;
  background-color: rgb(248, 248, 248);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
