/* PREVIEW LAYER */ /* 1st LEVEL */
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* THUMBNAIL LAYER */ /* 2nd LEVEL */
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.thumbnail {
  width: 100%;
}
.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 8px;
}

/* INFO LAYER */
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* LOGO LAYER */ /* 3rd LEVEL */
.channel-picture {
  vertical-align: top;
}
.profile-picture {
  width: 36px;
  border-radius: 50%;
}

/* VIDEO INFO LAYER */
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-author,
.video-starts {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
